@tailwind base;
@tailwind components;
@tailwind utilities;

/* common styles */

.standard-flex {
  @apply flex items-center justify-center
}

.portrait-pic {
  @apply h-24 w-24 sm:h-36 sm:w-36 rounded-full object-cover
  border-[0.35rem] border-white shadow-xl
}

main {
  @apply flex flex-col items-center px-4
}

section {
  @apply mb-28 max-w-[40rem] text-center sm:mb-0
  leading-8
}

section h1 {
  @apply mb-10 mt-6 px-4 text-xl font-medium
  !leading-[1.5] sm:text-2xl
}

section h2 {
  @apply text-3xl font-medium capitalize mb-8
}

section p {
  @apply mb-3
}

.divider {
  @apply bg-gray-200 my-16 h-16 w-1 rounded-full hidden sm:block
}

/* background styles */
.background {
  @apply bg-gray-50
  text-gray-950
}

.right-circle {
  @apply bg-[#fbe2e3]
  absolute -z-10 top-[-6rem] right-[1rem]
  h-[31rem] w-[31rem] sm:w-[67rem]
  rounded-full
  blur-[10rem]
}

.left-circle {
  @apply bg-[#dbd7fb]
  absolute -z-10 top-[-1rem] left-[-35rem] md:left-[-33rem] lg:left-[-28rem] xl:left-[-15rem] 2xl:left-[-5rem]
  h-[31rem] w-[50rem] sm:w-[67rem]
  rounded-full
  blur-[10rem]
}

/* header styles */
.header {
  @apply fixed top-0 left-1/2 h-[4.5rem] w-full rounded-none border border-white border-opacity-40
  bg-white bg-opacity-80 shadow-lg shadow-black/[0.03] backdrop-blur-[0.5rem]
  sm:top-6 sm:h-[3.25rem] sm:w-[36rem] sm:rounded-full
}

nav {
  @apply flex fixed top-[0.15rem] left-1/2 -translate-x-1/2 h-12 py-2
  sm:top-[1.7rem] sm:h-[initial] sm:py-0
}

nav ul {
  @apply flex w-[22rem] flex-wrap items-center justify-center gap-y-1
  text-[0.9rem] font-medium text-gray-500 sm:flex-nowrap sm:w-[initial] sm:gap-5
}

nav ul li {
  @apply h-3/4 flex items-center justify-center
}

nav ul li Link {
  @apply flex w-full items-center justify-center px-3 py-3
}

/* button styles */

.btn {
  @apply flex items-center gap-2 rounded-full py-4 outline-none
  focus:scale-110 hover:scale-110 active:scale-105 transition
  border border-black/10
}

.btn-primary {
 @apply bg-gray-900 hover:bg-gray-950 text-white px-7
}

.btn-secondary {
  @apply bg-white text-gray-700 px-7 cursor-pointer
}

.btn-icon {
  @apply  bg-white text-2xl text-gray-700 px-4 cursor-pointer
  focus:scale-[1.15] hover:scale-[1.15] hover:text-gray-950
}